body, html {
    height: 100%;
}

body{
    background-image: url("https://images.unsplash.com/photo-1517865115-5bf7a0c5d41f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: 100%



}
h1{
    color:red;
    text-align  : center;

}
td,table{
    font-size:20px;
    color:red;
    background:yellow;
    margin:auto;
    border:2px solid red;

}
thead{
    background:black;
    color:blue;
}
.container .jumbotron
{
    margin-top:200px;
    background:red;
    color:white;
}